{
  "semi": false,
  "arrowParens": "avoid",
  "printWidth": 100,
  "jsxBracketSameLine": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "bracketSpacing": true,
  "endOfLine": "auto"
}